.noAccessTile {
    -fx-background-color: #464746;
}

.lightTile {
    -fx-background-color: #c4c8c4;
}

.darkTile {
    -fx-background-color: #929592;
}

.winTile {
    -fx-background-color: #0dda9c;
}

.validMove {
    -fx-background-color: #4CAF50;
}

.selectedPiece {
    -fx-background-color: #adfaaf;
}

VBox {
    -fx-alignment: center;
}

.root {
    -fx-background-color: #f8d082;
}

.title {
    -fx-font-size: 30px;
    -fx-text-fill: #363736;
    -fx-font-weight: bold;
}

.moveLabel {
    -fx-font-size: 20px;
    -fx-text-fill: #363736;
    -fx-font-weight: bold;
}

.menuBtn {
    -fx-font-size: 20px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-padding: 5 10;
}